body{
    margin: 0px;
    padding: 0px;
    background-color:orangered;
}

h1{
    text-align: center;
    color: white;
    font-size: 40px;
}

section{
    display: flex;
    margin: 30px 150px;
}

img{
    width:200px;
    height: 200px;
}

.img1{
    display: flex;
    gap: 10px;
    background-color: white;
    margin-top: 40px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.img1 img{
    width: 200px;
    height: 200px;
}

.text h2{
    font-size: 20px;
    padding: 5px;
}

.text p{
    text-align: justify;
    font-size: 15px;
    padding: 5px;
}

